.container
  = form_with(model: @comment, url: board_task_comments_path(@task) , method: 'post', local: true) do |f|
    %div
      = f.label :content, 'Content'
    %div
      = f.text_area :content, class: 'text'

    = f.submit 'Submit' ,class: 'btn-primary'

