.container
  %h2 ALL Boards
  - @boards.each do |board|
    .card
      = link_to board_path(board) do
        .card-body
          %h5.card-title  
            = board.title
          %p.card-text 
            = board.content