@import 'header';
@import 'form';
@import 'buttons';
@import 'card';
@import 'common';
body {
  

  justify-content: space-between;
  width: 100%;
  margin: 0px;
  
}
.container {
  padding:26px,10px;
  width: 100%;
}
html {
  width: 100%;
  height: 921px;
  word-spacing: 1px;
  box-sizing: border-box;
  background: #FFFFFF;

}
