.card {
    background-color:#EEEEEE;
    margin: 20px;
    cursor: pointer;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    padding: 20px;
    position: relative;
    border-radius: 15px;
    width: 80%;
}
.card-text {
    text-decoration: none;
}
.dropbtn {
    top: 0px;
    right: 0px;
    border: none;

  }
  
  .dropdown {
    position: absolute;
    top:3px;
    right: 10px;
    display: inline-block;
  }
  
  .dropdown-content {
    font-weight: normal;
    display: none;
    right: 0;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  
    &.mini {
      min-width: 100px;
    }
  }
  
  .dropdown-content a {
    padding: 8px 16px;
    text-decoration: none;
    display: block;

  }
  
  .dropdown-content a:hover {
    background-color: white;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
.new-board{
    position: relative;
    text-align: center;
  p {
    position: absolute;
    top: 0;
    left: 0;
    
    top: 50%; /* 追記 */
    left: 50%; /* 追記 */
    -ms-transform: translate(-50%, -50%); /* 追記 */
    -webkit-transform: translate(-50%, -50%); /* 追記 */
    transform: translate(-50%, -50%); /* 追記 */
  }  
}