.header{
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;

  a{
    padding: 26px 26px;
    text-decoration: none;
    color:black
  }

  img {
    
      cursor: pointer;
      height: 50px;
      width: 50px;
    
  }

}